# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        31
        99
        104
        105
        115
        101
        108
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        51
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        73
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        79
        -50
        -56
        44
        78
        -51
        1
        114
        -117
        75
        -14
        -13
        82
        -109
        -118
        50
        -109
        -77
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        -115
        25
        24
        62
        48
        -1
        71
        3
        12
        104
        96
        84
        126
        120
        -55
        3
        0
        -41
        -15
        17
        -60
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        31
        99
        104
        105
        115
        101
        108
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        51
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        73
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        79
        -50
        -56
        44
        78
        -51
        1
        114
        -117
        75
        -14
        -13
        82
        -109
        -118
        50
        -109
        -77
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        -115
        25
        24
        62
        48
        -1
        103
        64
        -123
        -24
        96
        84
        126
        120
        -55
        3
        0
        76
        -68
        -110
        53
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


